body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a1929
    color: #0a1929;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.slider-container {
    width: 90%;
    max-width: 600px;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 8px 16px #0a1929;
    background-color: transparent;
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    text-align: center;
    padding: 30px 20px; /* Reducido un poco el padding general del slide */
}

.slide img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px; /* Reducido el margen inferior de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 100%; /* Imágenes responsivas */
}

.slide h6 {
    color: white; /* Color blanco para los nombres */
    margin-bottom: 8px; /* Reducido el margen inferior del nombre */
    font-size: 1.5em; /* Agrandado el tamaño del nombre */
    font-weight: bold; /* Opcional: Negrita */
}

.slide p {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 25px; /* Agrandado un poco el padding */
    border-radius: 8px;
    font-size: 1.2em; /* Agrandado el tamaño del párrafo */
    font-family: 'Expletus Sans', sans-serif; /* Aplica la tipografía */
}

.stars {
    color: #ffcc00;
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Media Queries para Responsive Design */
@media (max-width: 768px) {
    .slider-container {
        width: 95%;
    }
    .slide {
        padding: 30px 15px;
    }
}

@media (max-width: 480px) {
    .slider-container {
        width: 100%;
        margin: 20px 0;
    }
    .slide {
        padding: 20px 10px;
    }
    .slide img {
        width: 100px;
        height: 100px;
    }
}
